.item_detail_sec{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 50px;
}
.item_img_sec{
    width: 50%;
}
.item_img_sec img{
    width: 100%;
}
.item_info_sec{
    width: 50%;
}
.padding{
    padding: 10px 0;
}
.item_name{
    font-size: 30px;
    font-weight: 800;
}
.item_s_price{
    color:#97B38B;
    padding-left: 10px;
}
.item_price_info{
    font-size: 20px;
}
.delivery_info{
    display: flex;
    gap: 50px;
}
.detail_title{
    color: #737373;
    padding: 10px 0;
}
.item_option{
    position: relative;
    line-height: 40px;
    font-size: 14px;
}
.select_option{
    border-style: none;
    width: 150px;
    height: 40px;
    border: 1px solid #97B38B;
    font-weight: 300;
    padding-left: 10px;
    box-sizing: border-box;
}
.show_opt_btn{
    width: 10px;
    height: 100%;
    float: right;
    background: url(../img/옵션다운_화살표.png) no-repeat center / contain;
    cursor: pointer;
    margin-right: 10px;
}
.btn_rotate{
    transform: rotateX(180deg);
}
.option_list{
    width: 250px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: rgba(55, 55, 55, 0.3);
    border: 1px solid #97B38B;
    display: none;
}
.option{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.option:hover{
    background-color: #73737320;
}
.option_show{
    display: block;
}
.item_option_sec{
    width: 100%;
    /* height: 70px; */
}
.item_qty_sec{
    width: 100%;
    height: 70px;
}
.opt_qty_box {
    width: 120px;
}
.btn_qty {
    background: #fff;
    border: 1px solid #97B38B;
    width: 40px;
    height: 40px;
    float: left;
    outline: none;
    cursor: pointer;
}
.txt_minus { border-right: none}
.txt_plus { border-left: none}
.txt_qty {
    background: #fff;
    border: 1px solid #97B38B;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    float: left;
    outline: none;
    text-align: center;
}
.option_selected_sec{
    border-bottom: 2px solid #97B38B;
}
.option_selected_box{
    width: 100%;
    border-top: 2px solid #97B38B;
}
.opt_del_btn{
    cursor: pointer;
}
.qty_select_wrap{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.select_qty_sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total_qty{
    font-size: 18px;
    font-weight: 500;
}
.opt_price{
    line-height: 40px;
}
.total_price{
    font-size: 18px;
    font-weight: 500;
}
.buybutton_wrap{
    width: 100%;
    height: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.btn_box{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.buy_btn{
    background-color: #97B38B;
    color: #fff;
    border: 1px solid #fff;
}
.shopbag_btn{
    background-color: #fff;
    color: #97B38B;
    border: 1px solid #97B38B;
}
/* 상세정보 & 리뷰 */
.datail_info_sec{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    max-width: 800px;
}
/* 탭 */
.navi_tabs_wrap{
    padding-top: 150px;
    
    margin: 0 auto;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
}
.navi_tabs{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateX(50%);
}
.tabs{
    width: 80px;
    color: #222222;
    font-size: 15px;
    padding: 10px 0;
    cursor: pointer;
}
.tabs_event{
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    transform: translateY(1px);
}
.info_wrap{
    padding-top: 150px;
}
.long_img_box{
    width: 100%;
}
.long_img_box img{
    width: 100%;
}
/* 리뷰 */
.review_wrap{
    padding: 100px 0;
}
.rv_title{
    font-size: 20px;
    color: #97B38B;
    font-weight: 700;
}
.rv_txt_area{
    width: 100%;
    line-height: 120px;
    border-top: 2px solid #97B38B;
    border-bottom: 2px solid #97B38B;
    text-align: center;
    margin: 20px 0;
}
.rv_btn{
    width: 130px;
    line-height: 50px;
    position: relative;
    left: 100%;
    transform: translate(-100%);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #97B38B;
    color: #fff;
    border: 1px solid #fff;
}
/* 반응형 */
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media screen and (max-width:1023px) { 
    
} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media screen and (max-width:768px) {
    .item_detail_sec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 30px;
    }
    .item_name {
        font-size: 20px;
    }
    .item_price_info {
        font-size: 16px;
    }
    .delivery_info{
        gap: 20px;
    }
    .delivery_info span{
        font-size: 14px;
    }
    .item_img_sec {
        width: 80%;
    }
    .item_info_sec {
        width: 80%;
    }
    .total_qty {
        font-size: 15px;
    }
    .total_price {
        font-size: 15px;
    }
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media screen  and (max-width:480px) {
    .btn_box {
        width: 103px;
        font-size: 14px;
    }
    .rv_btn {
        width: 100px;
        line-height: 38px;
        font-size: 14px;
    }

}


