.product_wrap{
    display: flex;
    
}
.cate_area{
    width: 300px;
    height: 100%;
}
.cate_box{
    width: 200px;
    position: fixed;
    left: 0;
    padding: 10px;
    margin-top: 20px;
    margin-left: calc((100% - 1100px) / 2);
}
.cate_title{
    font-size: 20px;
    font-weight: 800;
    color: #97B38B;
}

.cate_menu_ul{
    border-top: 2px solid #737373;
    border-bottom: 2px solid #737373;
    margin: 10px 0;
}
.cate_menu_li{
    font-size: 18px;
    color: #737373;
    padding: 10px 5px 10px 5px;
}
.cate_menu_li:hover{
    color: #000;
    font-weight: 700;
}
.cate_li_clicked{
    color: #000;
    font-weight: 700;
}
.item_list_area{
    max-width: 900px;
    height: 100%;
    margin-top: 50px;
    padding: 0 15px;
    box-sizing: border-box;
}
.item_list_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item_box{
    width: calc((100% - (10px*3)) / 4);
    height: 350px;
}
.item_img{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}
.item_img img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    transition: all 0.3s;
}
.item_img img:last-child{
    opacity: 0;
}
.item_img img:last-child:hover{
    opacity: 1;
}
.item_title_box{
    text-align: center;
    line-height: 25px;
    padding: 5px 0;
}
.item_price{
    padding: 5px;
    font-size: 14px;
}
.s_price{
    padding: 0 5px;
    display: inline;
    color: #97B38B;
}
.o_price{
    display: inline;
    color: #737373;
}
/* 반응형 */
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media screen and (max-width:1023px) { 
    .cate_box {
        margin-left: 0;
        width: 150px;
    }
    .item_list_area {
        max-width: 600px;
    }
    .item_box {
        width: calc((100% - (10px*2)) / 3);
        height: 350px;
    }
} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media screen and (max-width:767px) {
    .cate_box {
        display: none;
    }
    .cate_area {
        display: none;
    }
    .product_wrap {
        justify-content: center;
    }
    
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media screen and (max-width:479px) {
    .item_list_area {
        max-width: 400px;
    }
    .item_box {
        width: calc((100% - (10px*1)) / 2);
        height: 300px;
    }
    .item_title_box {
        font-size: 15px;
    }
    .item_price {
        font-size: 13px;
    }
}
